ul[role='tablist'],
ul[role='tablist'] li {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}

ul[role='tablist'] {
  margin-bottom: -1px;
}

ul[role='tablist']:after {
  content: " ";
  display: block;
  clear: both;
  height: 0;
}

ul[role='tablist'] li {
  display: block;
  float: left;
  position: relative;
  z-index: 1;
  margin-right: .25rem;
}

ul[role='tablist'] li:hover {
  cursor: pointer;
}

ul[role='tablist'] li a {
  text-decoration: none;
  color: black;

  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  display: block;
  background: #f9f9f9;
  padding: .25rem .5rem;

  border-color: #999;
  border-style: solid;
  border-width: 1px;
}

ul[role='tablist'] li a[aria-selected='true'] {
  border-bottom-color: #f9f9f9;
}

section[role='tabpanel'] {
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border: 1px solid #999;
  background: #f9f9f9;
  padding: 5pt;
  margin-bottom: 120pt;
}

.tabs-bar {
  background-color: rgb(175,175,175);
}

.scope-area {
  padding: 5pt 5pt 5pt 5pt;
  background-color: rgb(180,180,180);
  border-radius: 4px;
}

.scope-header {
  margin-top: 0pt;
  margin-bottom: 5pt;
  font-size: 14pt;
  font-weight: 900;
  user-select: none;
}

.circuit-area {
  padding: 5pt 5pt 5pt 5pt;
  background-color: rgb(225,225,225);
  margin-top: 1pt;
  border-radius: 4px;
}

.circuit-header {
  display: flex;
}

.circuit-header-label {
  margin-top: 0pt;
  margin-bottom: 0pt;
  margin-right: 5pt; 
  font-size: 14pt;
  font-weight: 900;
  user-select: none;
}

.descend-icon-button {
  background-color: rgb(200,200,200);
  border-radius: 5px;
  border: 1px solid rgb(180,180,180);
  box-shadow: none;
}

.descend-icon-button:hover {
  background-color: rgb(190,190,190);
}

.descend-icon-button:active {
  background-color: rgb(170,170,170);
  border: 1px solid rgb(150,150,150);
}

.waveform-container {
  margin-top: 5pt;
  background-color: rgb(250,250,250);
  overflow: hidden;
}

.visualization-area {
  overflow-x: scroll;
  margin-bottom: -15px;
  height: 100%;
}

.waveform-label-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.icon {
  margin-right: 5pt;
}

.label {
  text-align: right;
  margin-right: 5pt;
  user-select: none;
}

svg text {
  user-select: none;
}

.bottom-bar {
  position: fixed;
  bottom: 0px;
  width: 100%;
  box-shadow: 0px -1px 20px #808080;
  z-index: 1;
  display: flex;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  flex-direction: column;
}

.cycles-margins {
  border: 1px solid #ccc;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: white;
}

.cycles-bar {
  margin-left: 15pt;
  margin-right: 15pt;
}

.cycles-label {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.cycles-label-text {
  margin-top: 2pt;
  margin-bottom: 2pt;
  padding-right: 5pt;
}

.cycles-area {
  background-color: #ddd;
  box-shadow: inset 0 -10px 25px #888;
  overflow-x: scroll;
}

.cycles-area line {
  stroke-width: 1;
  shape-rendering: crispEdges;
  stroke: #000000;
  fill: none;
}

.cycles-area text {
  font-size: 0.7em;
}

.comparison-view {
  background-color: rgb(250,250,250);
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
  width: 100%;
}

.comparison-view-options {
  text-align: center;
  background-color: rgb(225,225,225);
  outline: 1px solid #ccc;
}

.comparison-view-drop-area {
  text-align: center;
  display: flex;
}

.comparison-object {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5pt;
  padding: 0pt 5pt 0pt 5pt;
  background-color: rgb(225, 225, 225);
  border: 1px solid #ccc;
}

.comparison-object-scope {
  margin-bottom: 3pt;
}

.comparison-object-cycles {
  margin-top: 3pt;
}

.waveform-line {
    fill: none;
    stroke: #ffab00;
    stroke-width: 3;
}

.clock-nochange {
    fill: none;
    stroke: #ededed;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.clock-change {
    fill: none;
    stroke: #aaaaaa;
    stroke-width: 1;
    stroke-dasharray: 2.5;
    shape-rendering: crispEdges;
}

svg {
  display: block;
}

html {
  overflow-y: scroll;
}

input[type='checkbox'] {
  display:none;
}

.lbl-toggle {
  display: block;
  cursor: pointer;
}

.lbl-toggle::before {
  content: ' ';
  display: inline-block;

  border-top: 5px solid currentColor;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;

  vertical-align: middle;
  margin-right: .2rem;
  margin-left: .2rem;
  transform: translateY(-2px);
}

.lbl-toggle-checked::before {
  transform: rotate(-90deg) translateX(1px);
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

#selection-area {
  background-color: rgba(124, 209, 255, 0.3);
  border: 1px solid rgba(43, 132, 181, 0.5);
  background-clip: padding-box;
}

.comparison-header {
  margin-top: 0pt;
  margin-bottom: 0pt;
  font-size: 14pt;
  font-weight: 900;
  user-select: none;
}

.comparison-area {
  padding: 5pt 10pt 5pt 10pt;
  background-color: rgb(225,225,225);
  margin-top: 5pt;
  border-radius: 4px;
}
